.notesList {
  white-space: nowrap; 
  width: 20ch; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: monospace;
  font-size: 16px;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}